:root{
  --white: #FFFFFF;
  --black: #132213;

}

body {
  font-family: sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: hidden;
  overscroll-behavior: none;

  scrollbar-width: thin;
  scrollbar-color: var(--white);
}
::-webkit-scrollbar{
  width: 3px;
}

::-webkit-slider-thumb{
  background-color: #132213;
  border-radius: 2px;
}
#webgi-canvas {
  width: 100%;
  height: 100%;
  
}
#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  /* pointer-events: none; */
  z-index: -1;
}

.loader{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #FFFFFF;
  gap: 2em;
  font-size: 12px;
  display: none;
}
.progress{
  position: absolute;
  top: 60%;
  width: 50%;
  height: 1px;
  background: black;
  z-index: 0;
  margin: 0 5%;
  transform-origin: left;
  transform: scale(0);
  transition: transform 1s;
}
main{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);

}
section{
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  font-size: 42px;
}
